{
  "extends": "airbnb",
  "parser": "babel-eslint",

  "plugins": [
    "react"
  ],

  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },

  "rules": {
    "react/prefer-stateless-function": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "no-console": [1]
  }
}